name: FarmeronAddress CI

on:
  push:
    branches: master

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Dockerhub login
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: 
          echo "${DOCKER_PASSWORD}" | docker login --username ${DOCKER_USERNAME} --password-stdin
      
      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: Build Manifest
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }} 
        run: |
          docker buildx build \
          --platform=linux/arm64 \
          --output "type=image,push=true" \
          --build-arg IMAGE=3.1.401-focal-arm64v8
          --file ./Dockerfile . \
          --tag ${DOCKER_USERNAME}/farmerzon-address:latest-arm64v8
          docker buildx build \
          --platform=linux/amd64 \
          --output "type=image,push=true" \
          --build-arg IMAGE=3.1.401-focal
          --file ./Dockerfile . \
          --tag ${DOCKER_USERNAME}/farmerzon-address:latest-amd64
          docker manifest create ${DOCKER_USERNAME}/farmerzon-address:latest \
          --namend ${DOCKER_USERNAME}/farmerzon-address:latest-amd64 \ 
          --namend ${DOCKER_USERNAME}/farmerzon-address:latest-arm64v8
          docker manifest push ${DOCKER_USERNAME}/farmerzon-address:latest