# This is a basic workflow to help you get started with Actions

name: FarmeronAddress CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Dockerhub login
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: docker login --username ${DOCKER_USERNAME} --password ${DOCKER_PASSWORD}
      
      - name: Build Manifest
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }} 
        run: |
          docker build --tag ${DOCKER_USERNAME}/farmerzon-address:manifest-arm64v8 --build-arg IMAGE=3.1.401-focal-arm64v8 .
          docker build --tag ${DOCKER_USERNAME}/farmerzon-address:manifest-amd64 --build-arg IMAGE=3.1.401-focal .
          docker push ${DOCKER_USERNAME}/farmerzon-address:manifest-arm64v8
          docker push ${DOCKER_USERNAME}/farmerzon-address:manifest-amd64
          docker manifest create ${DOCKER_USERNAME}/farmerzon-address:manifest-latest --namend ${DOCKER_USERNAME}/farmerzon-address:manifest-amd64 --namend ${DOCKER_USERNAME}/farmerzon-address:manifest-arm64v8
          docker manifest push ${DOCKER_USERNAME}/farmerzon-address:manifest-latest