name: FarmeronAddress CI

on:
  push:
    branches: master

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Dockerhub login
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: 
          echo "${DOCKER_PASSWORD}" | docker login --username ${DOCKER_USERNAME} --password-stdin
      
      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1

      - name: Build Manifest
        run: |
          docker manifest create patrikhuber/farmerzon-address:latest \
          --amend patrikhuber/farmerzon-address:latest-amd64 \
          --amend patrikhuber/farmerzon-address:latest-arm64v8
          docker manifest push patrikhuber/farmerzon-address:latest